# Ignored Folders
.minecraft/.mixin.out/
.minecraft/asm
.minecraft/astralsorcery
.minecraft/betweenlands_gallery
.minecraft/coremods
.minecraft/crash-reports
## There is configurable stuff in JMap Folder (likely wont ever touch it)
.minecraft/journeymap
.minecraft/llibrary
.minecraft/logs
.minecraft/mods
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/tombstone
natives/

# Ignored Files
# TO DO: change root folder to be .minecraft? Moves all files up a directory
.packignore
instance.cfg
mmc-pack.json
.minecraft/*.dat
.minecraft/*.ini
.minecraft/*.json
.minecraft/*.log
.minecraft/*.png
.minecraft/*.txt
.minecraft/config/*.dat

# Clientside Configs to Ignore (WIP)