# Configuration file

##########################################################################################################
# attributes
#--------------------------------------------------------------------------------------------------------#
# Attributes
##########################################################################################################

attributes {
    # Damage: 4 (2 Hearts). (50 = half, 200 = double)
    I:tier1attackDamage=100

    # Health: 40 (20 Hearts). (50 = half, 200 = double)
    I:tier1maxHealth=50

    # Damage: 6 (3 Hearts). (50 = half, 200 = double)
    I:tier2attackDamage=100

    # Health: 80 (40 Hearts). (50 = half, 200 = double)
    I:tier2maxHealth=50

    # Damage: 8 (4 Hearts). (50 = half, 200 = double)
    I:tier3attackDamage=100

    # Health: 160 (80 Hearts). (50 = half, 200 = double)
    I:tier3maxHealth=50
}


##########################################################################################################
# damage
#--------------------------------------------------------------------------------------------------------#
# Base Damage
##########################################################################################################

damage {
    # Melee attacks deal an additional 2.0 (1 heart) of damage
    B:baseDamage=true

    # Shields Block Piercing Damage
    B:baseDamageArchers=true

    # Archers arrows deal an additional 1 (0.5 heart) of damage
    B:shieldsBlockPiercing=true
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debug
##########################################################################################################

debug {
    # Disables all non-Gaia mobs from spawning
    B:debugCommands=false

    # Enables developer commands
    B:debugSpawn=false

    # Mobs can drop nuggets/shards from other mods. (Disable if you encounter issues)
    B:oreUnity=false
}


##########################################################################################################
# defense
#--------------------------------------------------------------------------------------------------------#
# Base Damage Cap
##########################################################################################################

defense {
    # Maximum amount of hits required. (0 = disable)
    I:tier1baseDefense=2

    # Maximum amount of hits required. (0 = disable)
    I:tier2baseDefense=4

    # Maximum amount of hits required. (0 = disable)
    I:tier3baseDefense=8
}


##########################################################################################################
# dimensions
#--------------------------------------------------------------------------------------------------------#
# Dimensional Settings
##########################################################################################################

dimensions {
    # Disables Gaia mobs from spawning in the specified dimension ids
    I:dimensionBlacklist <
        -2147483648
        -17
        -8
        4
        7
        17
        20
        125
        126
        127
        128
        129
        312
        14676
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Spawn Rates
##########################################################################################################

general {
    # Ant Hill
    I:spawnAntHill=20

    # Ant Salvager
    I:spawnAntRanger=20

    # Anubis
    I:spawnAnubis=0

    # Arachne
    I:spawnArachne=0

    # Banshee
    I:spawnBanshee=15

    # Baphomet
    I:spawnBaphomet=0

    # Bee
    I:spawnBee=40

    # Beholder
    I:spawnBeholder=1

    # Bone Knight
    I:spawnBoneKnight=0

    # Cecaelia
    I:spawnCecaelia=0

    # Centaur
    I:spawnCentaur=5

    # Cobble Golem
    I:spawnCobbleGolem=0

    # Cobblestone Golem
    I:spawnCobblestoneGolem=0

    # Creep
    I:spawnCreep=0

    # Cyclops
    I:spawnCyclops=5

    # Deathword
    I:spawnDeathword=15

    # Dhampir
    I:spawnDhampir=15

    # Dryad
    I:spawnDryad=5

    # Dullahan
    I:spawnDullahan=15

    # Dwarf
    I:spawnDwarf=5

    # Ender Dragon Girl
    I:spawnEnderDragonGirl=0

    # Ender Eye
    I:spawnEnderEye=15

    # Flesh Lich
    I:spawnFleshLich=0

    # Gelatinous Slime
    I:spawnGelatinousSlime=15

    # Goblin
    I:spawnGoblin=15

    # Gryphon
    I:spawnGryphon=5

    # Harpy
    I:spawnHarpy=15

    # Wizard Harpy
    I:spawnHarpyWizard=0

    # Hunter
    I:spawnHunter=5

    # Kikimora
    I:spawnKikimora=5

    # Kobold
    I:spawnKobold=0

    # Mandragora
    I:spawnMandragora=15

    # Matango
    I:spawnMatango=15

    # Mermaid
    I:spawnMermaid=5

    # Mimic
    I:spawnMimic=15

    # Minotaur
    I:spawnMinotaur=10

    # Minotaurus
    I:spawnMinotaurus=0

    # Mummy
    I:spawnMummy=0

    # Naga
    I:spawnNaga=15

    # Nine Tails
    I:spawnNineTails=0

    # Oni
    I:spawnOni=0

    # Orc
    I:spawnOrc=0

    # Satyress
    I:spawnSatyress=5

    # Selkie
    I:spawnSelkie=15

    # Shaman
    I:spawnShaman=0

    # Sharko
    I:spawnSharko=15

    # Siren
    I:spawnSiren=0

    # Sludge Girl
    I:spawnSludgeGirl=0

    # Sphinx
    I:spawnSphinx=0

    # Spriggan
    I:spawnSpriggan=15

    # Succubus
    I:spawnSuccubus=0

    # Toad
    I:spawnToad=15

    # Valkyrie
    I:spawnValkyrie=10

    # Vampire
    I:spawnVampire=0

    # Ancient Vase
    I:spawnVase=20

    # Ancient Vase (Nether)
    I:spawnVaseNether=12

    # Werecat
    I:spawnWerecat=15

    # Witch
    I:spawnWitch=0

    # Wither Cow
    I:spawnWitherCow=12

    # Yeti
    I:spawnYeti=15

    # Yuki-Onna
    I:spawnYukiOnna=5
}


options {
    # Gaia mobs can now drop Copper and Silver Nuggets
    B:additionalOre=false

    # Disable drops not using loot tables.
    B:disableDrops=false

    # Disable mobs that use the Invisibility status effect when far from a player.
    B:disableInvisibility=false

    # Enable Gaia mobs to spawn
    B:enableSpawn=true

    # All mobs are now hostile
    B:passiveHostileAllMobs=false

    # Hostile day mobs will no longer attack players on sight
    B:passiveHostileMobs=false

    # Archers will strafe and avoid attacks (like Skeletons)
    B:strafingArchers=true
}


##########################################################################################################
# spawn
#--------------------------------------------------------------------------------------------------------#
# Spawn Options
##########################################################################################################

spawn {
    # Additional Blocks Gaia flower can spawn on
    S:additionalFlowerSpawnBlocks <
        minecraft:sandstone
     >

    # Additional Blocks Gaia mobs can spawn on
    S:additionalSpawnBlocks <
        minecraft:sandstone
     >

    # Remove spawn conditions related to height (Y-axis).
    B:disableYRestriction=false

    # Mobs only spawn after a certain amount of days have passed
    B:spawnDaysPassed=false

    # Amount of days required to have passed before they can start spawning
    I:spawnDaysSet=3

    # Level 3 mobs only spawn when it is raining/snowing.
    B:spawnLevel3Rain=true

    # Remove spawn conditions related to weather.
    B:spawnWeather=false
}


